dist
.DS_Store
node_modules
coverage
temp
explorations
TODOs.md
*.log
.idea
.eslintcache
dts-build/packages
*.tsbuildinfo
docs/.vitepress/*
!docs/.vitepress/config.ts
docs/*


!docs/index.md
!docs/package.json
!docs/sidebar.json
!docs/generateDoc.ts
!docs/public
